.root {
  > div {
    min-width: 345px;
    @media (--breakpoint-not-small) {
      width: 360px;
    }
  }
}

.root,
.section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
  max-width: 900px;
  gap: 5px;
  @media (--breakpoint-not-small) {
    gap: 10px;
  }
}

.root,
.section {
  padding: 6px 15px 15px;
  @media (--breakpoint-not-small) {
    padding: 0 40px 40px;
  }
}

.wrapSwitch {
  height: 40px;
  display: flex;
  align-items: center;
}

.sep {
  max-width: 900px;
  padding: 0 15px;
  @media (--breakpoint-not-small) {
    padding: 0 40px;
  }
  > div {
    border-top: 1px dashed #373737;
  }
}

.label {
  padding: 5px 0;
}

